@import '../../../../app/globals.scss';

.palette {
  display: flex;
  gap: 8px;
}

.swatch {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}
