@import '../../../app/globals.scss';

.yellow {
  background-color: $y;
}

.blue {
  background-color: $b;
}

.red {
  background-color: $r;
}

.green {
  background-color: $g;
}

.note {
  border-radius: 8px;
  border: 1px solid $gr;
}