/*yellow*/          $y: #ffffcd;
/*red*/         $r: #ffbcbc;
/*white*/        $w: #FFFFFF;
/*green*/       $g: #97ff9c;
/*blue*/        $b: #add8e6;
/*dark*/        $d: #0f0f0f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}